{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div id="header">
        <a href="/"><img id="h_logo" src="{%static 'img/log.JPG'%}" width="240;" height="56px;" ></a>
        </div>
        <div class="join_group">
          <div class="id">
              <h3 class="join_tittle"><label>아이디</label></h3>
              <span class="ps_box int_pass">
                  <input type="text" name="userid" class="int" placeholder="ID" autofocus autocomplete="off">
              </span>
            </div>
            <div class="passwd">
                <h3 class="join_tittle"><label>비밀번호</label></h3>
                <span class="ps_box int_pass">
                    <input type="password" name="userpw" class="int" placeholder="Password" autocomplete="off"></span>
            </div>
            <div class="btn_area">
                <a href="main/"><input type="submit" id="btnJoin" class="btn_type btn_primary" value="로그인"></a>
            </div>
        </div>
  </form>
</body>
</html>