{% extends 'home/layout.html' %}


{%block board%}
<table id="board">
    <tr>
        <td class="boardIdx">{{board.idx}}</td>
        <td class="boardTitle">{{board.title}}</td>
        <td class="boardWriter">{{board.writer}}</td>
        <td class="boardDate">{{board.datetime|date:"Y-m-d h:i"}}</td>
    </tr>
    <tr>
        <td colspan="4" class="readContent">
            <pre>{{board.content}}</pre>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <div class="menuBar" style="margin: auto;">
                <div class="menu left">
                    <a href="/board/index/">
                        <input type="button" value="돌아가기">
                    </a>
                </div>
                <div class="menu right">
                    <a href="">
                        <button>수정</button>
                    </a>
                    <a href="/board/delete/{{board.idx}}/">
                        <button>삭제</button>
                    </a>
                </div>
            </div>
        </td>
    </tr>
</table>
{%endblock%}